body{
    padding: 0;
    margin: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.905);
}

.criadorSaiba{
    padding-left: 30px;
    padding-top: 15px;
}

header{ 
    display: flex;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(0, 17, 255);
}

.logoGerminaFlix{   
    width: 30px;
    height: 30px;
    padding-top: 10px;
}
a{
    text-decoration: none;
    color: black;
}

.saibaMais{
    color: rgb(0, 0, 0);
    padding-top: 3px;
}

.euMsm{
    display: flex;
    justify-self: center;
    height: 500px;
    border: 1px solid black;
}


.nome{
    text-align: center;
    color: rgb(0, 0, 0);
}

 .curiosidades{
    color: rgb(0, 0, 0);
    padding-left: 10px;
 }

 .geral{
    justify-self: center;
    color: rgb(0, 0, 0);
 }

 .c2{
    padding-top: 20px;
    padding-left: 510px;
    color: rgb(0, 0, 0);
}

.listaUn{
    padding-right: 200px;
}
.listaOrd{
    padding-right: 330px;
}