body{
    padding: 0;
    margin: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.905);
}

.criadorSaiba{
    padding-left: 30px;
    padding-top: 15px;
}
a{
    text-decoration: none;
    color: black;
}

header{ 
    display: flex;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(0, 17, 255);
}

.logoGerminaFlix{   
    width: 30px;
    height: 30px;
    padding-top: 10px;
}

.saibaMais{
    color: rgb(0, 0, 0);
    padding-top: 3px;
}

.posterFilme{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    height: 500px;
}

.poster{
    border: 1px solid black;

}



.resenhaFilme{
    color: rgb(0, 0, 0);
    width: 1000px;
    text-align: center;
    display: flex;
    justify-self: center;
}
h2{
    text-align: center;
    color: rgb(0, 0, 0);
}
h1{
    color: rgb(0, 0, 0);
    width: 1000px;
    text-align: center;
    display: flex;
    justify-self: center;
}


footer{
    justify-self: center;
    color: rgb(0, 0, 0);
    padding: 10px;
}
