body{
    padding: 0;
    margin: 0;
    top: 0;
    background: linear-gradient(150deg, #0000ff, #ff0000);
    background-repeat: no-repeat;
}

.criadorSaiba{
    padding-left: 30px;
    padding-top: 15px;
}

.botao{
    transition: 0.5s;
    border-radius: 100px;
    background-color: #ffffffc4;
}

.botao:hover{
    transition: 0.5s;
    transform: scale(1.2);
    
}

.headers{ 
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    gap: 20px;
    justify-self: center;
}
header{
    background-color: rgba(0, 0, 0, 0.01);
}

a{
    color: black;
}

.saibaMais{
    color: rgb(0, 0, 0);
    padding-top: 3px;
}

.euMsm{
    display: flex;
    justify-self: center;
    height: 500px;
    border: 1px solid black;
}

.nome{
    color: rgb(255, 255, 255);
    text-align: center;
}



 .geral{
    color: rgb(0, 0, 0);
 }

 .c2{
    padding-top: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.disney{
    height: 170px;
}

.londres{
    height: 180px;
    padding-left: 240px;
}


.jfui{
    padding-left: 210px;
    padding-top: 10px;
}

.qrIr{
    padding-top: 20px;
}



.total{
    width: 760px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15); 
    margin: 40px auto;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    display: flex;
    transition: 0.3s;
}

.total:hover{
    transition: 0.3s;
    transform: scale(1.2);
}


footer{
    justify-self: center;
    color: white;
    padding-bottom: 10px;
}